@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body{
	background-color: pink;
}

h1{
	color: white;
	font-family: 'Modak', cursive;
	text-align: center;
}
p{
	color: green;
}

#parrafo2{
	color: red;
}

#parrafo3{
	color: brown;
}